player-connection-mode=Connect
player-connection-guid=4122892884
player-connection-debug=0
player-connection-project-name=LearnSRP
player-connection-wait-timeout=-1
player-connection-ip=10.100.56.176
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cb631c18970c49939c06e7c572bda963
